#service_icon:hover img,
#service_icon:hover p {
  opacity: 0.5;
}

#cut1:target::before {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 130px;
  visibility: hidden;
}
#treatment2:target::before {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 130px;
  visibility: hidden;
}
#colouring3:target::before {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 130px;
  visibility: hidden;
}
#straighting4:target::before {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 130px;
  visibility: hidden;
}
#perm5:target::before {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 130px;
  visibility: hidden;
}
#blow6:target::before {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 130px;
  visibility: hidden;
}
#updo7:target::before {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 130px;
  visibility: hidden;
}
